{% extends 'webutil/index.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ instructor_form.username }}
    {{ instructor_form.username.errors }}
    {{ instructor_form.password1 }}
    {{ instructor_form.password1.errors }}
    {{ instructor_form.password2 }}
    {{ instructor_form.password2.errors }}
    {{ instructor_form.title }}
    {{ instructor_form.title.errors }}
    {{ instructor_form.department }}
    {{ instructor_form.department.errors }}


    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary mb-4 mt-4">Submit</button>
    </div>
</form>

{% endblock %}